@media print {
    body * {
        visibility: hidden !important;
    }

    #printSection,
    #printSection * {
        visibility: visible !important;
    }

    #printSection {
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100% !important;
        margin: 0 auto !important;
        overflow: visible !important;
        box-sizing: border-box;
        padding: 0 10mm;
    }

    @page {
        size: auto; /* or A4, 80mm, etc */
        margin: 10mm;
    }

    /* Optional: remove scrollbar for print */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Avoid breaking table rows across pages */
    table, tr, td, th {
        page-break-inside: avoid !important;
    }
}
